@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Regular'), url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }


a {
	text-decoration: none;
	color: green;
}

#root {
	height: 100%;
}

.header-inner {
	background-color: black;
	display: flex;
	padding: 17px;
	border-radius: 0 0 30px 30px;
}

.App {
	text-align: center;
	min-height: 860px;
	height: 100%;
	display: block;
}

body {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 100%;
  background-color: black;
}

h1 {
	text-transform: uppercase;
	font-size: 120%;
	color: skyblue;
	padding: 0;
	margin: 0 10px 0;
}

h2 {
  font-weight: 700;
  font-family: 'Zilla Slab', serif;
  color: rgba(254,172,2,1);
  font-size: 2.5em;
}

.card-grid {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 12px;
	max-width: min-content;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.score {
	background-color: yellowgreen;
	margin: 0;
	padding: 5px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.scorecount {
	background-color: black;
	padding: 7px;
	color: yellow;
	margin-right: 6px;
  font-family: 'Libre Franklin Semibold', sans-serif;
  font-weight: 600;
}

button {
	border: 1px solid rgba(255, 255, 255,0.7);
	background-color: skyblue;
	color: black;
	border-radius: 4px;
	padding: 4px;
	cursor: pointer;
	max-height: 30px;
	margin-right: 10px;
}

.value {
	background-color: aquamarine;
}

.scoreTotal {
	border: 1px solid rgba(255, 255, 255,0.7);
	background-color: skyblue;
	color: black;
	height: 20px;
	border-radius: 4px;
	padding: 5px;
	margin-right: 10px;
}

.header {
  display:flex;
  justify-content: center;
}

.hide {
	display: none;
}